<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IndicateurEncoursPCEDotNET.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IndicateurEncoursPCEDotNET.MySettings.IndicateurPressageBDDConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\bastien.andres\Documents\IndicateurPressageBDD.accdb;Persist Security Info=True;Jet OLEDB:Database Password=password"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <IndicateurEncoursPCEDotNET.MySettings>
      <setting name="BDDConnString" serializeAs="String">
        <value>Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\bastien.andres\Documents\IndicateurPressageBDD.accdb;Persist Security Info=True;Jet OLEDB:Database Password=password</value>
      </setting>
      <setting name="TableList" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>T_Encours_Press</string>
            <string>T_Encours_Coupe</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="TableSelected" serializeAs="String">
        <value>Coupe</value>
      </setting>
      <setting name="BDDPath" serializeAs="String">
        <value>C:\Users\bastien.andres\Documents\IndicateurPressageBDD.accdb</value>
      </setting>
      <setting name="nbPlaqueMax" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="seuilHaut" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="seuilBas" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TableFournisseur" serializeAs="String">
        <value>Pressage</value>
      </setting>
      <setting name="TableClient" serializeAs="String">
        <value>Etalement</value>
      </setting>
    </IndicateurEncoursPCEDotNET.MySettings>
  </userSettings>
</configuration>